body {
  .main-form {
    position: relative;
    font-family: "Sarabun";
    .s-form {
      max-width: 790px;
      margin: 0 auto;
      padding: 80px 20px;
      .header-form {
        h1 {
          font-weight: 500;
          text-align: center;
          font-size: 42px;
          line-height: 66px;
          .h1col {
            color: #f48c7f;
          }
        }
        h3 {
          font-weight: 500;
          text-align: center;
          margin-top: 10px;
          font-size: 18px;
          line-height: 30px;
        }
      }
      .form-form {
        max-width: 520px;
        margin: 0 auto;
        form {
          display: flex;
          flex-wrap: wrap;
          margin-right: -10px;
          margin-left: -10px;
          .title-form {
            margin-top: 50px;
            margin-bottom: 25px;
            width: 100%;
            h2 {
              font-size: 26px;
              font-weight: 500;
            }
          }
          .email-form {
            padding-left: 30px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            position: relative;
            margin-bottom: 25px;
            height: 45px;
            box-sizing: border-box;
            width: 100%;
            margin: 0 10px;
            margin-bottom: 25px;
            i {
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -9px;
              font-size: 18px;
            }
            .email-input {
              padding-left: 30px;
              padding-top: 6px;
              height: 45px;
              border: none;
              padding: 0;
              width: 100%;
              font-size: 16px;
              line-height: 45px;
              position: absolute;
              left: 0;
              right: 0;
              z-index: 2;
              background-color: transparent;
              box-shadow: none;
              -webkit-transition: all 0.2s;
              -moz-transition: all 0.2s;
              -ms-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
