body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
}
body .silck-main {
  width: 1280px;
  margin: 0 auto;
}
body .btn-slick {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0px;
}
body .btn-slick .btn-next {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;
  margin: 0 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
body .btn-slick .arrow {
  width: 5px;
  top: 7px;
  position: relative;
  border: 2px solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 5px;
}
body .btn-slick .right {
  right: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
body .btn-slick .left {
  left: 2px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
body .img-show .img-slick {
  padding: 15px;
}
body .img-show .img-ch {
  width: 100%;
  height: auto;
}
body .vdo-show .vdo-slick {
  position: relative;
  height: 700px;
  width: 100%;
}
body .vdo-show .vdo-ch {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 2;
}
body .vdo-show .imgvdo-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
body .vdo-show .pp {
  position: absolute;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 200px;
  justify-content: center;
}
body .pvdo-show .pvdo-slick {
  padding: 15px;
  position: relative;
  height: 190px;
  width: 365px;
}
body .pvdo-show .pvdo-img-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
body .pvdo-show .pvdo-vdo-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
body .pvdo-show .pvdo-pp {
  position: absolute;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 131px;
  justify-content: center;
}
body .vdoy-show .vdoy-slick {
  position: relative;
  height: 700px;
  width: 100%;
}
body .vdoy-show .vdoy-ch {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 2;
}
body .vdoy-show .imgvdoy-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
body .vdoy-show .ppy {
  position: absolute;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 200px;
  justify-content: center;
}
body .vdoy-show .ppypop {
  position: absolute;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 200px;
  justify-content: center;
}
body .pvdoy-show .pvdoy-slick {
  padding: 15px;
  position: relative;
  height: 190px;
  width: 365px;
}
body .pvdoy-show .pvdoy-img-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
body .pvdoy-show .pvdoy-vdo-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
body .pvdoy-show .pvdoy-pp {
  position: absolute;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 131px;
  justify-content: center;
}
body .poppvdoy-show .poppvdoy-slick {
  padding: 15px;
  position: relative;
  height: 190px;
  width: 365px;
}
body .poppvdoy-show .poppvdoy-img-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
body .poppvdoy-show .poppvdoy-vdo-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
body .poppvdoy-show .poppvdoy-pp {
  position: absolute;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 131px;
  justify-content: center;
}
body .popvdoy-show .popvdoy-slick {
  position: relative;
  height: 700px;
  width: 100%;
}
body .popvdoy-show .popvdoy-ch {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 2;
}
body .popvdoy-show .popimgvdoy-ch {
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
body .popvdoy-show .ppypop {
  position: absolute;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 200px;
  justify-content: center;
}
body .popup-main {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  visibility: hidden;
  -webkit-transition: visibility 0s 300ms, opacity 300ms;
  -moz-transition: visibility 0s 300ms, opacity 300ms;
  -ms-transition: visibility 0s 300ms, opacity 300ms;
  -o-transition: visibility 0s 300ms, opacity 300ms;
  transition: visibility 0s 300ms, opacity 300ms;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
body .popup-main .wrap-modal-box {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
body .popup-main .vdoypopup-ch {
  width: 100%;
  height: 100%;
}
body .popup-main .iframepopup {
  width: 100%;
  height: 100%;
}
body .popup-main .ppypopup {
  color: white;
  font-size: 24px;
}
body .popup-main .iconpopup {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
  z-index: 99;
}
.opacity-play {
  opacity: 0;
}
