body {
  transform: translate(0, 0);
  margin: 0;
  font-family: 'Sarabun', sans-serif;
}
body .img-b img {
  position: relative;
  width: 100%;
  object-fit: cover;
}
body .showmobile {
  display: none;
}
body .showdek {
  display: block;
}
body .text-b {
  padding-top: 6.2%;
  position: absolute;
  top: 0px;
  color: aliceblue;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
body .text-b h1 {
  width: 100%;
  margin: 1px auto;
  max-width: 400px;
}
body .text-b .text-d {
  width: 100%;
  margin: auto;
  font-size: 20px;
  max-width: 600px;
}
body .block-a {
  position: relative;
}
body .block-a::before {
  content: "";
  background-image: url(bg-list.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
body .block-a .fix-width {
  max-width: 1120px;
  margin: 0 auto;
  padding: 70px 20px 70px 20px;
}
body .block-a .fix-width .flexbox {
  display: block;
}
body .block-a .fix-width .flex-parent {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px -30px -15px;
}
body .block-a .fix-width .flex-child {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  flex: 0 0 calc(33.33% - 30px);
  max-width: calc(33.33% - 30px);
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.9);
}
body .block-a .fix-width .flex-child .header-box .img-box {
  padding: 30px;
}
body .block-a .fix-width .flex-child .header-box .img-box i {
  font-size: 80px;
  line-height: 80px;
  color: red;
}
body .block-a .fix-width .flex-child .header-box .htext {
  margin-bottom: 15px;
}
body .block-a .fix-width .flex-child .header-box .htext .lasthead-text {
  text-transform: uppercase;
  padding: 0 30px;
  font-size: 30px;
  line-height: 36px;
  color: #1b1725;
}
body .block-a .fix-width .flex-child .body-box {
  margin-bottom: 22px;
}
body .block-a .fix-width .flex-child .body-box .lastbody-text {
  padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
  color: #61707d;
}
body .description {
  background-color: black;
}
body .description .text-box {
  padding: 20px;
}
body .description .flex-parent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: #000;
}
body .description .flex-child {
  flex: 0 0 calc(50%);
  max-width: calc(50%);
}
body .description .title-des {
  margin-bottom: 30px;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
}
body .description .description-des {
  font-size: 18px;
  color: #fff;
  text-align: left;
}
body .description .btn-call {
  text-decoration: none;
}
body .description .btn-call .button-des {
  text-align: left;
  width: 150px;
  padding: 15px;
  background-image: linear-gradient(90deg, #B2282D 0%, #FF8B9F 100%);
  margin-top: 15px;
}
body .description .btn-call .button-des .cr {
  color: white;
}
body .description .btn-call .button-des .text-btn {
  text-align: center;
  color: white;
  margin-left: 2px;
}
body .description .btn-call:hover .button-des {
  background: linear-gradient(270deg, #9f4853 0, #7c1b1f 100%);
}
body .img-des-mm {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  body .block-a .fix-width .flex-child {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
  body .block-a .fix-width .flex-child .body-box .lastbody-text {
    font-size: 16px;
  }
  body .block-a .fix-width .flex-child .header-box .htext .lasthead-text {
    font-size: 24px;
  }
  body .block-a .fix-width .flex-child .text-b .text-d {
    font-size: 16px;
  }
  body .block-a .fix-width .flex-child .text-b h1 {
    font-size: 24px;
  }
  body .description .flex-child {
    flex: 0 0 calc(100%);
    max-width: calc(100%);
  }
  body .description .title-des {
    font-size: 24px;
  }
  body .description .description-des {
    font-size: 16px;
  }
  body .showmobile {
    display: block;
  }
  body .showdek {
    display: none;
  }
}
@media (max-width: 576px) {
  body .block-a .fix-width .flex-child {
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
}
